@{
    ViewBag.Title = "Sobre";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Este aplicativo destina-se à escolha do restaurante de almoço do dia.</p>
<br/>
<p><b>Desenvolvido por Cristiano Guilloux</b></p>
<a href="mailto:cristianofx@gmail.com">cristianofx@gmail.com</a>
